body {
    margin: 0 auto;
<<<<<<< HEAD
    background-color: #0d0ac9;
=======
    background-color: #e22d2d;
>>>>>>> devHeader
    text-align: center;
    color: green;
}
header {
       h1 {
        font-size: 40px;
        margin-bottom: 0;  
    }
}
header {
    p {
        margin-top: 0;
        font-size: 34px;
        color: grey;
        border-bottom: solid 1px white;
    }  
} 
.lyrics {
<<<<<<< HEAD
    color: rgb(0, 255, 136);
=======
    color: rgb(15, 15, 2);
>>>>>>> devLyrics
    max-width: 300px;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
}
.verse {
    margin: 20px;
}